.about {
    display: flex;
    gap: 20px;
    background-color: #001B2E;
    color: white;
    height: min-content;
    padding: 100px 20px 100px 20px;
    justify-content: space-between;
    font-size: 1.2rem;
    border-bottom: 1px solid white;
    align-items: center;
    padding: 100px 15vw 100px 15vw;
}


.about h2 {
    color: #FFEFD3;
}

.about a {
    color: #D5FFFF;
    text-decoration: none;
}

.about a:visited {
    color: #D5FFFF;
}

.left-about {
    display: flex;
    flex-direction: column;    
    gap: 20px;
    width: 60%;

}

.right-about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.me-image {
    max-width: 80%;
    border: 1px solid #D5FFFF;
    border-radius: 1rem;
    height: auto;
    box-shadow: 2px 2px 2px #ADB6C4;
}


@media (max-width: 900px) {
    .about {
        flex-direction: column;
        gap: 40px;
    }

    .me-image {
        max-width: 100%;
    }
}