img {
    height: 30vh;
}

.animate {
    animation: popin 4s ease-in-out;
}

@keyframes popin {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    50% {
        opacity: 100;
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        transform: translateY(-10px);
    }
}