.name {
    height: 93vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 20px;
    color: black;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/photo-one.jpg');
    border-bottom: 1px solid white;
}

.intro {
    display: flex;
    gap: 10px;
    width: 100%;
    justify-content: center;
}

.animate {
    animation: popin 4s ease-in-out;
    position: relative;
    flex: 1;
}

.projects-link{
    background-color: #001B2E;
    border-radius: 1rem;
    border: 1px solid white;
    list-style: none;
    font-size: 1rem;
    color: white;
    width: 100%;
    transition: 1s all;
    padding: .4rem 4rem .4rem 4rem;
}

.name li {
    list-style: none;
}

.projects-link:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    transition: 1s all;
}

@keyframes popin {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    50% {
        opacity: 100;
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        transform: translateY(-10px);
    }
}

.main-buttons {
    display: flex;
    gap: 10px;
}