* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: sticky;
    top: 0;
    background-color: #001B2E;
    color: white;
    height: 3vh;
    border-bottom: 1px solid white;

}

header ul {
    display: flex;
    gap: 20px;
}

header li {
    cursor: pointer;
    list-style: none;
}

header.scrolled {
    background-color: #ADB6C4;
    color: black;
    border-bottom: 1px solid black;
    transition: background-color 400ms linear;
}



header.scrolled li::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: black;
    transition: width .4s ease-in;
  }
  
header.scrolled li:hover::after {
    width: 100%;
}

  
header.not-scrolled li::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: white;
    transition: width .4s ease-in;
  }
  
header.not-scrolled li:hover::after {
    width: 100%;
}


header.not-scrolled {
    background-color: #001B2E;
    color: white;
    border-bottom: 1px solid white;
    transition: background-color 400ms linear;
}


@media (max-width: 500px) {
    header ul {
        display:none;
    }
    header {
        justify-content: flex-start;
    }
}