.projects-all {
    padding: 40px 15vw 40px 15vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #001B2E;
}

.projects-all h2 {
    font-size: 2rem;
    color: #FFEFD3;
}

* {
    --dark: #001B2E;
    --midDark: #294C60;
    --mid: #ADB6C4;
    --beige: #FFEFD3;
}

.projects-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.project-card {
    color: white;
    display: flex;
    gap: 20px;
    font-size: 1.1rem;
}

.project-right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.project-title {
    color: #FFEFD3;
    font-size: 1.5rem;

}

.project-tools {
    display: flex;
    gap: 10px;
}


.project-card li {
    list-style: none;
}

.project-buttons {
    display: flex;
    gap: 20px;
}

.project-buttons a {
    text-decoration: none;
    color: white;
}

.project-buttons a:visited {
    color: none;
    text-decoration: none;
}

.project-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #294C60;
    border: white 1px solid;
}


.project-btn > * {
    color: white;
    fill: white;
    background-color: #294C60;
    transition: all .5s ease;
}

.project-btn:hover > * {
    color: black;
    fill: black;
    background-color: #ADB6C4;
    transition: all .5s ease;
}

.project-a {
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap: 3px;
    padding-right: 20px;
}

.button-svg {
    height: 5vh;
    width: 5vh;
}


.project-image {
    max-width: 55%;
    height: auto;
}

.project-image img {
    border: 1px solid #ADB6C4;
    width: 100%;
    height: 100%;
}

.project-image:hover {
    cursor: pointer;
}

@media (max-width: 900px) {
    .project-card {
        flex-direction: column;
    }

    .project-image {
        max-width: 100%;
    }
}