.tools-all {
    display: flex;
    flex-direction: column;
    background-color: #001B2E;
    color: white;
    font-size: 1.2rem;
    padding: 20px;
    padding: 20px 15vw 20px 15vw;
    border-bottom: 1px dashed white;
}

.skills-list{
    display: flex;
    gap: 5px;
    justify-content: space-around;
    padding: 20px
}

.tools-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows: auto;    
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


.tool-image {
    height: 10vh;
}

.card {
    display: flex;
    height: min-content;
    width: min-content;
    flex-direction: column;
    align-items: center;
    background-color: #294C60;
    gap: 8px;
    border: 1px solid white;
    padding: 10px;
}

.card:hover {
    background-color: #ADB6C4;
    color: black;
    transition: .5s all;
    border: 1px solid white;
}

@keyframes scroll {
    0% {
        transform: translate(-1000px);
    }
    50% {
        transform: translate(0px);

    }
    100% {
        transform: translate(1000px);
    }
}


