img {
    height: 2vh;
}

.animate {
    animation: popin 4s ease-in-out;
}

@keyframes popin {
    0% {
        opacity: 0;
        translate: -10px;
    }
    50% {
        opacity: 100;
        translate: 0px;
    }
    100%{
        opacity: 0;
        translate: -10px;
    }
}